@mixin button-secondary {

  --color-button-background-secondary: var(--gray-default-dark-800);
  --color-button-background-secondary-hover: var(--gray-default-dark-800);
  --color-button-background-secondary-pressed: var(--gray-default-dark-800);
  --color-button-background-secondary-disabled: var(--gray-default-dark-800);

  --color-button-text-secondary: var(--gray-default-dark-600);
  --color-button-text-secondary-hover: var(--color-primary);
  --color-button-text-secondary-pressed: var(--color-primary);
  --color-button-text-secondary-disabled: var(--gray-default-dark-700);

  --color-button-border-secondary: var(--gray-default-dark-600);
  --color-button-border-secondary-hover: var(--color-primary);
  --color-button-border-secondary-pressed: var(--color-primary);
  --color-button-border-secondary-disabled: var(--gray-default-dark-700);

  --color-button-box-shadow-secondary: none;
  --color-button-box-shadow-secondary-hover: none;
  --color-button-box-shadow-secondary-pressed: none;
  --color-button-box-shadow-secondary-disabled: none;

  --color-button-text-shadow-secondary: none;
  --color-button-text-shadow-secondary-hover: none;
  --color-button-text-shadow-secondary-pressed: none;
  --color-button-text-shadow-secondary-disabled: none;

}
