.ui-switcher {
  position: relative;
  height: 26px;
  width: 52px;
  border-radius: 13px;
  transition: background-color .15s;
  cursor: pointer;

  &:active {
    > * {
      transform: scale(0.8);
    }
  }

  &.disabled {
    cursor: not-allowed;
  }

  &.checked {

  }

  &__slider {
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 50%;
    left: 0;
    transition: all .15s;
    transform: scale(0.9);

    &.checked {
      left: 50%;
    }
  }
}
