@mixin dynamic-progress-bar {
  --color-progress-bar-thumb-extra-sucess: var(--green-google-dark-600);
  --color-progress-bar-thumb-sucess: var(--green-google-dark-300);
  --color-progress-bar-thumb-warning: var(--yellow-google-dark-600);
  --color-progress-bar-thumb-danger: var(--red-google-dark-500);
}
