@mixin tooltip {
  --color-tooltip-background: var(--color-tooltips-background);
  --color-tooltip-text: var(--white-google-light);
  --color-tooltip-border: var(--color-transparent);
  --color-tooltip-box-shadow: none;
}
