@mixin side-bar-link {

  --color-side-bar-link-background: var(--color-transparent);
  --color-side-bar-link-background-hover: var(--color-sidebar-link-hover);
  --color-side-bar-link-background-selected: var(--blue-google-light-50);
  --color-side-bar-link-background-selected-hover: var(--blue-google-light-50);

  --color-side-bar-link-text: var(--color-sidebar-text);
  --color-side-bar-link-text-hover: var(--color-sidebar-text);
  --color-side-bar-link-text-selected: var(--color-primary);
  --color-side-bar-link-text-selected-hover: var(--color-primary);

  --color-side-bar-link-border: var(--color-transparent);
  --color-side-bar-link-border-hover: var(--color-transparent);
  --color-side-bar-link-border-selected: var(--color-transparent);
  --color-side-bar-link-border-selected-hover: var(--color-transparent);

  --color-side-bar-link-box-shadow: none;
  --color-side-bar-link-box-shadow-hover: none;
  --color-side-bar-link-box-shadow-selected: none;
  --color-side-bar-link-box-shadow-selected-hover: none;

}
