.widget-income-categories-modal {
  width: 600px;
  padding: 24px;

  &__wrapper {
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
    > *:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}
