


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
  font-weight: 600 !important;
  line-height: 1.5 !important;
  color: var(--color-text);
}

h1 {
  font-size: 1.25rem;
  line-height: 1.5;
  padding-bottom: 3px;
}

h2 {
  font-size: 1.0625rem;
  padding-bottom: 2px;
}
