@mixin calendar {
  --color-calendar-border: var(--gray-default-dark-700);
  --color-calendar-text: var(--color-text);
  --color-calendar-item-hover: var(--gray-default-dark-800);
  --color-calendar-item-selected: var(--blue-default-dark-400);
  --color-calendar-item-selected-text: var(--white-default-dark);
  --color-calendar-box-shadow-today: var(--color-primary);
  --color-calendar-item-inactive: var(--gray-default-dark-700);
  --color-calendar-item-not-available: var(--gray-default-light-300);
  --color-calendar-item-not-available-text: var(--white-default-dark);
  --color-valendar-border-between-selected: var(--blue-default-dark-300);
  --color-selected-item-background: var(--color-primary);
  --color-selected-item-text: var(--white-default-dark);
}
