@mixin range {
  --color-range-slot-background: var(--gray-default-dark-200);
  --range-slot-box-shadow: inset 0 0 5px var(--gray-default-dark-700);
  --color-range-thumb-background: var(--color-primary);
  --color-range-thumb-background-hover: var(--color-primary);
  --color-range-thumb-background-active: var(--color-primary);
  --color-range-badge-background: var(--gray-default-dark-300);
  --color-range-badge-text: var(--gray-default-dark-900);
}
