.ui-select-dropdown {

  display: flex;
  flex-direction: column;

  &__no-data {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    opacity: 0.5;
    text-align: center;
  }

  &__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;

    > span {
      max-width: 88%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &.flexEnd {
      justify-content: flex-end;
    }
  }
}
