@mixin select-dropdown {
  --color-option-text: var(--color-text);
  --color-option-text-hover: var(--color-primary);
  --color-option-text-selected: var(--color-primary);
  --color-option-background: var(--color-transparent);
  --color-option-background-hover: var(--gray-default-dark-800);
  --color-option-background-selected: var(--gray-default-dark-800);
}
