@mixin dynamic-progress-bar {
  --color-progress-bar-thumb-extra-sucess: var(--green-default-light-600);
  --color-progress-bar-thumb-sucess: var(--green-default-light-300);
  --color-progress-bar-thumb-warning: var(--yellow-default-light-600);
  --color-progress-bar-thumb-danger: var(--red-default-light-500);
}
